<% yearlies = @transactions.budgeted_yearly.group(:category).sum(:amount) %>
<% yearlies_total = yearlies.inject(0) {|acc, (k, v)| acc += v; acc} %>
<% monthlies = @transactions.budgeted_monthly.group(:category).sum(:amount) %>
<% monthlies_total = monthlies.inject(0) {|acc, (k, v)| acc += v; acc} %>
<% all_categories_total = yearlies_total + monthlies_total %>
<% total_months = @total_months %>


<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12">
      <h2><%= month_name(@search_params.start_month) + " #{@search_params.start_year}" %> - <%= month_name(@search_params.end_month) + " #{@search_params.end_year}" %></h2>
      <%=  form_for @search_params, { url: root_path(), method: :get } do |f| %>
          <p>From
            <%= f.select(:start_month,
                         months_enumerated,
                         {},
                         {multiple: false, class: 'input-group-btn'}) %>
            <%= f.select(:start_year,
                         [2017, 2018, 2019],
                         {},
                         {multiple: false, class: 'input-group-btn'}) %>
            to
            <%= f.select(:end_month,
                         months_enumerated,
                         {},
                         {multiple: false, class: 'input-group-btn'}) %>
            <%= f.select(:end_year,
                         [2017, 2018, 2019],
                         {},
                         {multiple: false, class: 'input-group-btn'}) %>
            <%= f.submit "View Transactions" %>
          </p>
      <% end %>

    </div>

  </div>


  <div class="row">

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Spending</h3>
              <p class="card-text">Expenses per month.</p>
              <%= line_chart @line_chart_data, min: 4000, max: 10000 %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Categories</h3>

              <table class="table table-condensed">
                <thead>
                <tr>
                  <th>Category</th>
                  <th>Total</th>
                  <th>Monthly</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><b>All</b></td>
                  <td><b><%= to_dollars(all_categories_total) %></b></td>
                  <td><b><%= to_dollars(all_categories_total/total_months) %></b></td>
                </tr>
                </tbody>
              </table>


              <br/>
              <p class="card-text"><b>Yearlies.</b> The less expected expenses.</p>

              <table class="table table-condensed">
                <thead>
                <tr>
                  <th>Category</th>
                  <th>Total</th>
                  <th>Monthly</th>
                </tr>
                </thead>
                <tbody>
                <% yearlies.sort_by {|k,v| -v }.each do |category,amount| %>
                    <tr>
                      <td><%= category %></td>
                      <td><%= to_dollars(amount) %></td>
                      <td><%= to_dollars(amount/total_months) %></td>
                    </tr>
                <% end %>
                <tr>
                  <td><b>All Yearlies</b></td>
                  <td><b><%= to_dollars(yearlies_total) %></b></td>
                  <td><b><%= to_dollars(yearlies_total/total_months) %></b></td>
                </tr>
                </tbody>
              </table>

              <br/>
              <p class="card-text"><b>Monthlies.</b> The more expected expenses.</p>
              <table class="table table-condensed">
                <thead>
                <tr>
                  <th>Category</th>
                  <th>Total</th>
                  <th>Monthly</th>
                </tr>
                </thead>
                <tbody>
                <% monthlies = Transaction.expenses.budgeted_monthly.group(:category).sum(:amount) %>
                <% monthlies.sort_by {|k,v| -v }.each do |category,amount| %>
                    <tr>
                      <td><%= category %></td>
                      <td><%= to_dollars(amount) %></td>
                      <td><%= to_dollars(amount/total_months) %></td>
                    </tr>
                <% end %>
                <tr>
                  <td><b>All Monthlies</b></td>
                  <td><b><%= to_dollars(monthlies_total) %></b></td>
                  <td><b><%= to_dollars(monthlies_total/total_months) %></b></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>