<% total_months = @total_months %>
<% categories_and_amounts = @transactions.group(:category).sum(:amount).sort_by {|c,a| -a } %>
<% categories_and_avg_amounts = categories_and_amounts.map {|c,a| [c,a/total_months] } %>
<% total_amount = categories_and_amounts.inject(0) {|acc, (c, a)| acc += a; acc} %>
<% chronological_transactions = @transactions.order(date: :asc).limit(2000) %>


<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Our Spending</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarFilterDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter
        </a>
        <div class="dropdown-menu" style="min-width: 300px">
          <%=  form_for @search_params, { url: root_path(), method: :get, html: { class: 'px-4 py-3'} } do |f| %>

              <!--<p><b>Dates</b></p>-->
              <!-- From -->
              <div class="form-row align-items-center mb-2">
                <div class="col-sm-2">
                  <%= f.label :start_month, 'From', {class: 'my-0'} %>
                </div>
                <div class="col-sm-6">
                  <%= f.select(:start_month,
                               months_enumerated,
                               {},
                               {multiple: false, class: 'form-control'}) %>
                </div>
                <div class="col-sm-4">
                  <%= f.select(:start_year,
                               [2017, 2018, 2019],
                               {},
                               {multiple: false, class: 'form-control'}) %>
                </div>
              </div>

              <!-- To -->
              <div class="form-row align-items-center mb-4">
                <div class="col-sm-2">
                  <%= f.label :end_month, 'To', {class: 'my-0'} %>
                </div>
                <div class="col-sm-6">
                  <%= f.select(:end_month,
                               months_enumerated,
                               {},
                               {multiple: false, class: 'form-control'}) %>
                </div>
                <div class="col-sm-4">
                  <%= f.select(:end_year,
                               [2017, 2018, 2019],
                               {},
                               {multiple: false, class: 'form-control'}) %>
                </div>
              </div>


              <div class="dropdown-divider"></div>

              <div class="form-row align-items-top mb-4">
                <div class="col-sm">
                  <%= f.label :category_ids, 'Select Categories' %>
                  <%= f.select :category_ids,
                               option_groups_from_collection_for_select(Bucket.expenses, :categories, :name, :id, :name, @search_params.category_ids),
                               {label: 'Categories'},
                               {multiple: true, class: 'form-control form-control-sm', size: 10} %>
                </div>
              </div>

              <div class="form-row">
                <div class="col-sm form-group">
                  <%= f.submit "Apply", class: 'btn btn-outline-success', style: 'width: 100%' %>
                </div>
              </div>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Display</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <div class="row">

    <!-- Categories table -->
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Categories</h3>
              <p class="card-text"><b><%= to_dollars(total_amount/total_months) %></b> spent per month.</p>

              <table class="table table-sm">
                <tbody>
                <% categories_and_avg_amounts.each do |category,amount| %>
                    <tr>
                      <td><%= category %></td>
                      <td><%= to_dollars(amount) %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Categories table -->


    <div class="col-sm-9">

      <!--line graph-->
      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Over time</h3>
              <%= line_chart @line_chart_data, min: (@line_chart_data.first[:data].values.min.to_i || 0), max: @line_chart_data.first[:data].values.max.to_i %>
            </div>
          </div>
        </div>
      </div>
      <!--end line graph-->

      <!--bar chart-->
      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Bars</h3>
              <%= bar_chart categories_and_avg_amounts %>
            </div>
          </div>
        </div>
      </div>
      <!--end bar chart-->

      <!--pie chart-->
      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Pie</h3>
              <%= pie_chart categories_and_avg_amounts %>
            </div>
          </div>
        </div>
      </div>
      <!--end pie chart-->

      <!-- Transactions table -->
      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">All Transactions</h3>
              <p class="card-text">Showing all <%= chronological_transactions.count %> transactions chronologically.</p>

              <table class="table table-sm">
                <tbody>
                <% chronological_transactions.each do |t| %>
                    <tr>

                      <td><%= t.date %></td>
                      <td><%= to_dollars(t.amount) %></td>
                      <td style="max-width: 200px"><%= t.note %></td>
                      <td><%= t.category %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <!-- end Transactions table -->


    </div>

  </div>

</div>